<div class="">
<p> {{messageData.message}} </p>
    <div id="stranger-div">
        <input [(ngModel)]="firstname" type="text" placeholder="First Name..." id="firstname"/> <br>
        <input [(ngModel)]="lastname" type="text" placeholder="Last Name..." id="lastname"/> <br>
        <input [disabled]="!firstname || !lastname" type="submit" id="submit" (click)="submitNames()">
    </div>
</div>
<app-select-beverage (sendData)="drinkSelected($event)"></app-select-beverage>
<app-usual [parentData]="showUsual" (sendUsualData)="theUsualSelected($event)"></app-usual>